<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		*{margin: 0;padding: 0;}
		.container{width: 640px;margin: 0 auto;}
		fieldset{padding: 10px;margin-bottom: 20px;}
		.form-control{padding:8px 10px;outline: none;margin-bottom: 10px;}
		.btn{outline: none;padding:8px 20px;}

		table{width: 100%;border-collapse: collapse;}
		table th,table td{border:1px solid #ccc;text-align: center;padding:6px 10px;}
	</style>
</head>
<body>
	<div class="container" id="app">
		<fieldset>
			<legend>个人信息表单</legend>
			<form>
				<div class="form-group">
					<label for="test1">姓名：</label>
					<input type="text" id="test1" v-model="person.name" class="form-control">
				</div>
				<div class="form-group">
					<label for="test2">年龄：</label>
					<input type="text" id="test2" v-model="person.age" class="form-control">
				</div>
				<div class="form-group">
					<label for="test3">性别：</label>
					<select id="test3" v-model="person.sex" class="form-control">
						<option>男</option>
						<option>女</option>
					</select>
				</div>
				<div class="form-group">
					<input type="button" @click="addPerson()" class="btn btn-primary" value="添加"/>
					<input type="reset" class="btn btn-danger" value="重置"/>
				</div>
			</form>
		</fieldset>

		<table>
			<thead>
				<tr>
					<th>姓名</th>
					<th>年龄</th>
					<th>性别</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(p,index) in persons" v-show="persons.length>0" :key="index">
					<!-- <td>{{p.name}}-{{p.id}}</td> -->
					<td>{{p.name}}</td>
					<td>{{p.age}}</td>
					<td>{{p.sex}}</td>
					<td><a href="javascript:;" @click="delPerson(p.id)">删除</a></td>
				</tr>
				<tr><td colspan="4" v-show="persons.length>0"><a href="javascript:;" @click="delPerson(-2)">删除全部</a></td></tr>
				<tr><td colspan="4" v-show="persons.length==0">暂无数据</td></tr>
			</tbody>
		</table>
	</div>
	<script src="https://cdn.bootcss.com/vue/2.5.12/vue.js"></script>
	<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
	<script>
		var vm=new Vue({
			el:'#app',
			mounted(){//网络请求这些都放在这里
				this.getPersonList();
			},
			data:{
				persons:[
					// {name:'www',age:12,sex:'男'},
				],
				name:'',
				age:'',
				sex:'男',
				person:{name:'',age:'',sex:'男'}
			},
			methods:{
				getPersonList(){
					  this.$http.get('http://localhost:8081/test/getPersons.php').then(response => {

					    // get body data
					    //console.log(JSON.parse(JSON.stringify(response.body.dataList)));
					    this.persons=JSON.parse(JSON.stringify(response.body.dataList));

					  }, response => {
					  	console.log('网络发生错误');
					    // alert();
					  });
				},
				addPerson(){
					if (this.person.name=='') {
						alert('请输入姓名！');
						return;
					}

					if (this.person.age=="" || this.person.age!=="" && !/[0-9]{1,2}/.test(this.person.age)) {
						alert('请输入年龄！');
						return;
					}

	    			//this.persons.unshift(this.person);
	    			this.$http.post('http://localhost:8081/test/addPerson.php',this.person,{emulateJSON: true}).then(response => {
	    			  // this.persons=response.body;
	    			  console.log(response.body);
	    			  this.getPersonList();
	    			  // if (response.body.code===200) {//插入成功
	    			  // 	this.getPersonList();
	    			  // }

	    			}, response => {
	    			  alert('插入数据失败');
	    			});

					this.person={name:'',age:'',sex:'男'};
				},
				delPerson(n){
					if (n==-2) {
						//this.persons=[];
						this.$http.post('http://localhost:8081/test/delPerson.php',{id:n},{emulateJSON:true}).then(response => {
						  // this.persons=response.body;
						    //console.log(response.body);
						    this.getPersonList();
						
						}, response => {
						  alert('删除全部数据失败');
						});
					}else{
						//this.persons.splice(n,1);
						
						this.$http.post('http://localhost:8081/test/delPerson.php',{id:n},{emulateJSON:true}).then(response => {
						  // this.persons=response.body;
						    //console.log(response.body);
						    this.getPersonList();
							// if (response.body==='删除成功') {//删除成功
						 //  		this.getPersonList();
							// }

						}, response => {
						  alert('删除数据失败');
						});
					}
				}
			}
		});
	</script>
</body>
</html>