.comwid{max-width: 640px;min-width: 320px;margin-left: auto;margin-right: auto;overflow-x: hidden;}

.list-box{padding-top: 10px;width: 100%;}
.list-box .panel-body{padding:7px;}
.row-list{margin-left: 0;margin-right: 0;}
.row-list>div{padding:2px;}
.row-list .thumbnail{margin-bottom: 0;padding-left: 0;padding-right: 0;}
.row-list .thumbnail:hover{text-decoration: none;}
.row-list .thumbnail .caption{padding-left: 2px;padding-right: 2px;}
.row-list .thumbnail>img{height: 100px;max-width: 100%;}
.row-list .thumbnail h6{line-height: 14px;font-size:12px;font-weight: normal;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin: 0;}


.dtit{color: #666;}
.tip{text-align: center;font-size: 12px;color: #999;width: 200px;margin-left: auto;margin-right: auto;}
.list-tip{font-size: 20px;}
.more{display: none;}

.line{margin: 0 5px;}
.star-box{font-size: 0;}
.star-box .star{display: inline-block;}
.star-box .star span{color: #ccc;font-size: 12px;width: 12px;overflow: hidden;line-height: 12px;height: 12px;display: inline-block;vertical-align: middle;}
.star-box .star span.on{color: #d83b26;}
.star-box img{display: inline-block;width: 12px;vertical-align: middle;}
.star-box .score{display: inline-block;font-size: 12px;color: #1f3463;font-style: italic;margin-left: 2px;vertical-align: middle;line-height: 1;}
.detail-container .star-box .star span{position: relative;top:-5px;}
.search-box{padding: 10px;}
/* .search-box .input-group-btn .btn{line-height: 1.45;} */

.result-box{padding:7px;display: none;}

.btn-more:hover{text-decoration: none;}


.content{margin-top: 55px;}

.empty-box{padding-top:50%;display: none;}
.empty-box img{width: 235px;display: inline-block;}


.detail-container{overflow-x: hidden;}
.detail-heading{
    position: relative;
    padding-bottom: 50%;
    color: #fff;
}
.head-bg{
    background-color: #888;position: absolute;top:0;left: 0;right: 0;bottom: 0;display: block;width: 100%;height: 100%;-webkit-filter:blur(20px);
}
/* .detail-heading svg{position: absolute;top:0;left: 0;right: 0;bottom: 0;display: block;width: 100%;height: 100%;} */
.head-img{position: absolute;bottom: 0;right: 10px;padding:15.825% 10.148%;background-color: #fff;border:1px solid #ccc;}
.head-img img{position: absolute;top:0;left: 0;right: 0;bottom: 0;display: block;width: 100%;height: 100%;}
.head-title{font-size: 20px;line-height: 25px;}
.detail-heading .head-title{max-height: 50px;overflow: hidden;margin-top: 20px;background:#333;background: rgba(0, 0, 0, 0.5);}
.detail-wrap{padding:0 10px;}
.detail-heading .detail-wrap{position: absolute;top:0;left: 0;right: 0;bottom: 0;z-index: 2;}
.detail-body .head-title{font-size: 16px;font-weight: bold;line-height: 20px;margin-bottom: 5px;}
.detail-body .dtit{color: #999;margin-right: 10px;font-size: 12px;}

.sub-title{
    font-size: 14px;
    color:#fff;
    padding-top: 5%;
    
}
.sub-title span{background:#333;background: rgba(0, 0, 0, 0.5);display: inline-block;padding:0 5px;}

.like{
    padding-top: 5%;
    padding-right: 21.5%;

}

.highlight-font{
    color: #f21146;
    font-size:12px;
    margin-right: 5px;
}

.plain-font{
    font-size:12px;
    margin-right: 15px;background:#333;background: rgba(0, 0, 0, 0.5);
}



.original-title{
    color: #1f3463;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.flex-row{
    margin-bottom: 5px;
    font-size: 12px;
}


.hr{
    margin: 20px 0;
    height:1px;
    width: 100%;
    background-color: #d9d9d9;
}

.scroll-box{width: 100%;overflow-x: auto;position: relative;/* height: 152px; */}
.cast-container{
    /* display:inline-flex;
    flex-direction: column; */
    margin-bottom: 25px;
    /* float: left; */
    display: inline-block;
    margin-right: 20px;
    width: 85px;
    text-align:center;
    white-space: normal;
}

.cast-imgs{
   width:auto;/* position:absolute;top:0;left:0;bottom: 0; */overflow:auto;white-space:nowrap;/* font-size: 0; */
}

.cast-img{
    max-width: 100%;
    height: 105px;
    display: block;
    background-color: #f8f8f8;
    margin: 0 auto;
}
.cast-name{
    display: block;
    margin: 5px auto 0;
    font-size: 12px;
}

