<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="robots" content="NOINDEX,NOFOLLOW,NOARCHIVE">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<script type="text/javascript">
		<%= compilation.assets[htmlWebpackPlugin.files.chunks.hello.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
	</script>
	
</head>
<body>
	<div id="app">
		wq
	</div>
	<h1><%= htmlWebpackPlugin.options.date %></h1>

    <% for(var k in htmlWebpackPlugin.files.chunks){ %>
       <% if(k !=='hello'){ %>
          <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks[k].entry %>"></script>   
	   <% } %>
	<% } %>

	<!-- <script type="text/javascript" src="hello.bundle.js"></script> -->
</body>
</html>