

/* headBar */
.headBar{font-size: 18px;}
.headBar .leftArea{width: 321px;}
.headBar .rightArea{width: 879px;}
.headBar .logo{width: 321px;height:106px;display: block; }
.headBar li{display:block;width: 125px;float: left;padding: 43px 0 30px 0;text-align: center;}
.headBar a{color: #000;font-weight:bold;line-height: 20px;border-bottom: 3px solid transparent;padding-bottom: 10px;display:inline-block;*display:inline;*zoom:1;}
.headBar a:hover{border-bottom: 3px solid #012643;}

/*footBar*/
.footBar{background:#E7E6E4;text-align:center;line-height:24px;padding-top:30px;font-size: 12px;}
.footBar i{font-style:normal;margin:0 5px;}
.footBar a{color:#000;}
.footBar a:hover,.footBar .content a:hover{color:#FF0000;}
.footBar .leftArea{width: 660px;}
.footBar .rightArea{width: 540px;text-align:right;}
.footBar .leftArea h3{width:132px;float:left;line-height:30px;text-align:left;font-size: 16px;display:inline-block;*display:inline;*zoom:1;}
.footBar .leftArea ul{float:left;width:132px;margin-top:20px;text-align:left;}
.footBar .leftArea ul li a{display: block;line-height: 30px;}

.footBar .rightArea h3{font-size: 16px;}
.footBar .rightArea h2{font-size: 20px;}
.footBar .rightArea .left {text-align:right;width: 403px;}
.footBar .rightArea .right {width: 137px;}
.footBar .rightArea img{margin:5px 0 0 10px;display: block;width: 127px;height: 127px;}
.mt30{margin-top: 30px;}

.footBar .content{background-color: #012643;color: #FFF;padding: 15px 0;text-align: left;margin-top:20px;font-size: 14px;}
.footBar .content a{color: #FFF;}


/* main */

/*banner*/
.banner{cursor:pointer;width: 100%;}
.banner img{display: block;width: 100%;}
.banner .bannerLg{position:relative;overflow: hidden;}
.banner .imgBox{width: 100%;position: relative;z-index: 1;}
.banner .imgBox li{display: none;}
.banner .imgBox li.active{display: block;}
.banner .imgNum{width:100%;position:absolute;left:0;right:0;bottom:0;text-align:center;z-index:2;}
.banner .imgNum a{width:35px;height:3px;margin:11px 2px;overflow:hidden;background-color:#10162e;display:inline-block;*display:inline;*zoom:1;}
.banner .imgNum a.active{background-color:#FFF;}

/* titleBar */
.titleBar{text-align: center;position: relative;text-transform: uppercase;margin-top:40px;margin-bottom: 40px;font-size: 14px;}
.titleBar:before{
	content: ' ';width:100%;position: absolute;
	top:50%;left:0;right:0;
	height: 1px;overflow: hidden;
	background-color: #000;
    display: block;
	z-index: 1;}
.titleBox{display:inline-block;*display:inline;*zoom:1;width:414px;background-color: #FFF;position: relative;z-index: 2;}
.titleBar .middle{font-size: 48px;font-weight: bold;line-height: 1px;padding:20px 0;margin:10px 0;}
.titleBar .middle .line{display: inline;font-size: 0;padding: 30px 20px 1px;border-left: 4px solid;margin-left: 40px;}
.titleBar .top{letter-spacing:12px;font-size: 16px;}


/*card*/
p.card-title{font-size: 24px;line-height: 24px;margin-bottom:26px;font-weight: bold;}

.bdCard .cardBodyWrapl{width: 464px;}
.bdCard .cardBodyWrapr{padding-left: 470px;}
.bdCard .cardBody{border:1px solid #000;}
.bdCard .cardBody img{display: block;width: 100%;}
.bdCard .cardBodyWrapr .cardBody{padding: 30px 40px 50px 50px;overflow: hidden;}
.bdCard .cardBodyWrapr .cardBody .card-title{font-size: 24px;margin:12px 0;}
.bdCard .cardBodyWrapr .cardBody p{font-size: 16px;margin:12px 0;}
.bdCard .cardBodyWrapr .cardList{float: left;width: 50%;display: block;margin-top: 24px;}
.bdCard .cardBodyWrapr .cardList ul{height: 236px;overflow: hidden;}
.bdCard .cardBodyWrapr .cardList ul li{margin-bottom: 10px;line-height: 36px;font-size: 18px;}
.indexBox .form-group input,.indexBox .form-group select{padding-left: 30px;}
.ico-clock,.ico-f{overflow: hidden;width: 15px;height: 15px;background-color: red;}
.ico-clock{margin-right: 10px;position: relative;top:-2px;}
.ico-f{position: absolute;top:9px;left: 10px;}
.indexBox .form-group .btn-orange{border:none;background-color: #f3af0e;color: #F00;font-size: 14px;padding-top:10px;padding-bottom: 10px;}
.bdCard .cardBody img.dividerImg{display:inline-block;*display:inline;*zoom:1;width: 163px;}

/* 全景查看 */
.panoBox .pano{min-height: 200px;}
.panoBox img{position: absolute;top:-999px;left: -999px;width: 20px;visibility: hidden;}
.panoBox h3{font-size: 28px;line-height: 28px;padding:46px 0 28px;}
/* .pano {width: 100%;height: 260px;margin: 0 auto;cursor: move;}
.pano .controls {position: relative;top: 40%;}
.pano .controls a {position: absolute;display: inline-block;color: #eee;font-size: 3em;width: 20px;height: 20px;}
.pano .controls a.left {left: 10px;}
.pano .controls a.right {right: 10px;}
.pano.moving .controls a {opacity: 0.4;color: #eee;} */
.pano.loading {
  background: url("../../Images/ajax-loader.gif");
  background-position: 50% 50%;
  background-repeat: no-repeat; 
}


.esCard .card-title{font-size: 36px;margin: 20px 0;display: inline-block;padding-bottom: 5px;border-bottom:3px solid #000;}

/* 六大服务 */
.ssCard .divider{height: 15px;background-color: #000;}
.indexBox .listShow{overflow: hidden;margin-bottom: 70px;}
.indexBox .listShow li{float: left;width: 180px;margin:0 12px;}
.indexBox .listShow li.item1{margin-left: 0;}
.indexBox .listShow li.item3{margin-right: 0;float: right;}
.indexBox .listShow .itemHead{font-size: 32px;font-weight: bold;position: relative;height: 86px;}
.indexBox .listShow .itemHead:before{content: '';display: block;position: absolute;left:50%;top:0;bottom:0;width: 2px;overflow: hidden;background-color: #000;z-index: 1;}
.indexBox .listShow .itemHead .num{display:inline-block;*display:inline;*zoom:1;line-height:32px;margin-top:24px;background-color: #FFF;position: relative;z-index: 2;}
.indexBox .listShow .itemBody{border-radius: 4px;-webkit-border-radius: 4px;border:1px solid #000;}
.indexBox .listShow .itemBody:hover{-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1);}
.indexBox .listShow .itemBody img{width: 100%;height: 138px;display: block;padding:25px 0;}
.indexBox .listShow .itemBody p{margin:2px 0 16px;font-size: 18px;line-height: 20px;}
.indexBox .listShow .itemFoot{line-height: 24px;margin-top: 10px;}